body {    

    background: rgb(0,0,0);
    background: linear-gradient(189deg, rgb(43, 42, 42) 26%, rgb(79, 79, 82) 61%, rgb(190, 189, 189) 100%);
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    color: rgb(243, 243, 243);
    
}

h2 {
    color: rgb(255, 145, 0);
}

.navbar {
margin-bottom: 1px;
}

nav {
    background-color: rgb(32, 32, 32);
 
}

.nav-tabs :hover{
    background-color: rgb(255, 145, 0);
}

a {
    color: rgb(255, 145, 0);
}

a:hover {
    color: rgb(255, 145, 0);
    background-color: rgb(43, 42, 42);
}


/* li:hover {
    color: rgb(79, 79, 82);
    background-color: rgb(255, 145, 0);
} */

button {
    background-color: rgb(43, 42, 42);
    /* background-color: rgb(255, 145, 0); */
    color: rgb(255, 145, 0);
    /* color: rgb(32, 32, 32); */
}

#name {
    margin-bottom: 0px;
    margin-top: 0%;
    margin-right: 0%;
    padding-top: 200px;
    color: rgb(255, 145, 0);
    font-size: 60px;
    background-color: rgb(32, 32, 32);
    height: 350px;
    width: 100%;
    /* border-bottom: 1px solid rgb(255, 145, 0); */
    border-radius: 50% 50% 50% 50%;
    position: relative;
    top: -170px;
    z-index: -1;
    box-shadow: 5px 10px 60px  rgb(0,0,0);

}

#heading {
    width: 400px;
    position: relative;
    top: -235px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(32, 32, 32);
    font-size: 18px;
}

#adminlink {
    z-index: +2;
    position: absolute;
    top: 50px;
    right: 20px;
    height: 50px;
    width: 100px;
}

#introrow {
    position: relative;
    top: -170px;
    height: 600px;
    width: 700px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 5px;
    display: flex;
    background-color: rgb(43, 42, 42);
    box-shadow: 5px 10px 40px  rgb(0,0,0);

}

#propicme {
    height: 380px;
    width: 320px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 30px;
    
}

#hrintro {
    width: 50%; 
    border-top: 1px solid rgb(32, 32, 32);
}
#skills {
    padding: 5px;
}

#intro {
    margin-left: 10px;
    padding-left: 25px;
    border-left: 1px solid rgb(32, 32, 32);
    height: auto;
}

#backbox1 {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    position: absolute;
    top: 560px;
    left: 437px;
    z-index: -1;

}

#backbox2 {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    position: absolute;
    top: 252px;
    right: 437px;
    z-index: -1;
}


#portfoliosec {
    height: 700px;
    width: 80%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);;
    /* box-shadow: -5px -30px 30px rgb(0,0,0); */
    box-shadow: 5px 10px 40px 10px rgb(0,0,0, 0.8);
    
}


.ftblock {
    display: flex;
    
}

.portft {
    height: 300px;
    width: 33.333%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 50%;
}

.nametag {
    height: 20px;
    width: 45%;
    margin: 0 auto;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    background-color: rgb(255, 145, 0);
    position: relative;
    top: 90%;
    
}

#backbox3 {
    width: 58.5%;
    height: 400px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    z-index: -3;
    position: absolute;
    left: 20.8%;
    top: 1385px;

}

#blogsec {
    height: 700px;
    width: 65%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    box-shadow: 5px 10px 40px 10px rgb(0,0,0, 0.8);
    /* background-color: rgb(60, 60, 61); */
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    padding-top: 1%;
    
    
}

#blogcont {
    height: 70%;
    width: 100%;
}

#bloghead {
    font-size: 13px;
    height: 25%;
    width: 100%;
    position: relative;
    top: 0%;
    border: 1px solid rgb(255, 145, 0);
    border-right: none;
    border-left: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    
}

#blogstats {
    list-style: none;

}

#blogstats li {
    margin: 3px;
}


#backbox4 {
    width: 47.5%;
    height: 380px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    left: 26.25%;
    top: 2305px;

}

#aboutsec {
    
    height: 700px;
    width: 65%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    box-shadow: 5px 10px 30px 20px rgb(0,0,0, 0.8);
    /* background-color: rgb(60, 60, 61); */
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    padding-top: 1%;
    
}

footer {
    height: 200px;
    background-color: rgb(32, 32, 32);
    display: flex;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 100px;
    position: relative;
    bottom: 0%;
    border-radius: 50% 50% 0% 0%;
    box-shadow: 0px -20px 20px rgb(0,0,0);
}

#contactdetails {
    padding-top: 40px;
    width: 50%;
    padding-right: 5%;
    border-right: solid rgb(255, 145, 0);
    height: 150px;
}

#socials {
    margin-left: 0%;
    padding-top: 38px;
    padding-left: 5%;
    height: 150px;
}


/* BEGINNING OF BLOG STYLLING */

#blogbody {
    background: rgb(79, 79, 82);
}

#sidenav {
    position: fixed;
    left: 0%;
    height: 95%;
    width: 19%;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 5px 10px 10px  rgb(0,0,0,0.8);
}

#blogmain {
    width: 60%;
}

#topicstable {
    border-radius: 10px;
    width: 100%;
    background-color: rgb(32, 32, 32);
}

tr {
    margin: 5px;

}

#postcontainer {
    border-radius: 10px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    padding: 2%;
    box-shadow: 0px 5px 10px 10px  rgb(0,0,0,0.8);
}

#posthead {
    width: 100%;
}

#post_tags {
    margin-left: 5%;
}

#post_tags button {
    margin: 2px;
}

#shareoptions {
    margin-left: 20%;
}


/* BEGINNING OF ADMIN STYLLING */

#adminsidenav {

    position: fixed;
    left: 0%;
    height: 95%;
    width: 17%;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 5px 10px 10px  rgb(0,0,0,0.8);

}

#adminmain {
    background-color: rgb(32, 32, 32);
    width: 100%;
    margin-left: 6%;
    padding: 2%;
}

#websitenavlist {
    
    padding-left: 2%;
    list-style: none;

}

.asidenavlist {
    margin-bottom: 5%;
    
}

.asidenavlist a {
    color: rgb(243, 243, 243);
} 

.asidenavlist:hover a:hover {
    padding-left: 5%;
    transition: .1s;

    text-decoration: none;
    background-color: none;
    transition: 0.5s;
    color: rgb(255, 145, 0);
    font-size: 20px;
    
}


#blognavlist {

    padding-left: 2%;
    list-style: none;
    
}

#siteintroform {
    width: 80%;
    margin: 0 auto;
}

#siteintroform .btn{
    background-color: rgb(79, 79, 82);
    color: rgb(255, 145, 0);
}

#siteintroform .btn:hover{
    transition: .1s;
    font-size: 16px;
    background-color: rgb(255, 145, 0);
    color: rgb(243, 243, 243);
}