body {    

    background: rgb(0,0,0);
    background: linear-gradient(189deg, rgb(43, 42, 42) 26%, rgb(79, 79, 82) 61%, rgb(190, 189, 189) 100%);
}

.navbar {
margin-bottom: 1px;
}

nav {
    background-color: rgb(32, 32, 32);
 
}

a {
    color: rgb(243, 243, 243);
}

button {
    background-color: rgb(255, 145, 0);
    color: rgb(32, 32, 32);
}

#name {
    margin-bottom: 20px;
    margin-top: 0%;
    padding-top: 50px;
    color: rgb(255, 145, 0);
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    background-color: rgb(32, 32, 32);
    height: 150px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;

}

#heading {
    position: absolute;
    top: 170px;
    left: 650px;
    margin-top: 0%;
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 145, 0);
}

#introrow {
    height: 600px;
    width: 700px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 5px;
    display: flex;
    color: rgb(172, 169, 169);
    background-color: rgb(43, 42, 42);

}

#propicme {
    height: 480px;
    width: 400px;
    padding: 10px;
    border-radius: 40%;
    margin-left: 30px;
}

#hrintro {
    width: 50%; 
    border-top: 1px solid rgb(255, 145, 0);
}
#skills {
    padding: 5px;
}

#intro {
    padding-left: 5px;
    border-left: 1px solid rgb(255, 145, 0);
    height: auto;
}

#backbox1 {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    position: absolute;
    top: 535px;
    left: 428px;
    z-index: -1;

}

#backbox2 {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    position: absolute;
    top: 205px;
    right: 425px;
    z-index: -1;
}


#portfoliosec {
    height: 350px;
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    color: rgb(243, 243, 243);
}

.ftblock {
    display: flex;
    
}

.portft {
    height: 200px;
    width: 33.333%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid rgb(255, 145, 0);
    
}

.nametag {
    height: 20px;
    width: 100%;
    background-color: rgb(255, 145, 0);
    position: relative;
    top: 90%;
    
}

#blogsec {
    height: 350px;
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    color: rgb(243, 243, 243);
}

#aboutsec {
    height: 350px;
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    color: rgb(243, 243, 243);
}

footer {
    height: 200px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    bottom: 0%;
}

#contactdetails {
    border-right: solid grey;
    height: 150px;
}