body {    
    /* background: rgb(43, 42, 42); */
    /* background: #ffffff; */    
    background: #e0e0e0;
    /* font-family: 'Special Elite', cursive; */
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000000;    
}


.navbar {
margin-bottom: 1px;
}

nav {
    /* background-color: rgb(32, 32, 32); */
    /* background: #242424; */
    background: #393E46;
 
}

#navDiv {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

#navUl {
    display: flex;
    justify-content: space-evenly;
    list-style: none;    
}

#homelink {
    margin-right: 25%;
}

#navLi {
    list-style: none;
    margin-left: 25%;
    margin-right: 25%;
}

a {
    color: white;
}

a:hover {
    color: #393E46;
}


button {
    background-color: rgb(43, 42, 42);
    /* background-color: rgb(255, 145, 0); */
}

#projectsBTN {
    box-shadow: 0 0 20px #747474;
}

#heading {
    width: 400px;
    position: relative;
    top: -251px;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgb(32, 32, 32); */
    background-color: #222831;
    font-size: 18px;
}

#adminlink {
    z-index: +2;
    position: absolute;
    top: 50px;
    right: 20px;
    height: 50px;
    width: 100px;
}

#introrow {
    position: relative;
    top: 5%;
    height: 525px;
    /* width: 700px; */
    width: 99%;
    margin: 50px auto;
    align-items: center;
    /* border: 1px solid rgb(43, 42, 42); */
    border-radius: 5px;
    display: flex;
    /* background-color: #393E46; */
    /* box-shadow: 5px 10px 40px  rgb(0,0,0); */
    /* box-shadow: -20px 10px 45px #747474;   */
    box-shadow: -20px -20px 60px #ffffff;
}

#intro {
    width: 40%;
    margin-left: 150px;
    padding-left: 25px;
    /* border-left: 1px solid rgb(32, 32, 32); */
    height: auto;
}

#propicme {
    height: 500px;
    width: 430px;
    padding: 0px;
    border-radius: 25%;
    margin-left: 270px;
    
    
}

#introName {
    font-size: 50px;
    font-weight: bolder;
}


#portfoliosec {
    height: 700px;
    width: 80%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    /* background-color: rgb(43, 42, 42); */
    background-color: #393E46;
    /* box-shadow: -5px -30px 30px rgb(0,0,0); */
    box-shadow: 5px 10px 40px 10px rgb(0,0,0, 0.8);
    
}


.ftblock {
    display: flex;
    
}

.portft {
    height: 300px;
    width: 33.333%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 50%;
}

.nametag {
    height: 20px;
    width: 45%;
    margin: 0 auto;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    background-color: rgb(255, 145, 0);
    position: relative;
    top: 90%;
    
}

#backbox3 {
    width: 58.5%;
    height: 400px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    z-index: -3;
    position: absolute;
    left: 20.8%;
    top: 1385px;

}

#blogsec {
    height: 700px;
    /* width: 65%; */
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    box-shadow: 5px 10px 40px 10px rgb(0,0,0, 0.8);
    /* background-color: rgb(60, 60, 61); */
    /* background-color: rgb(43, 42, 42); */
    background-color: #393E46;
    border-radius: 10px;
    padding-top: 1%;
    
    
}

#blogcont {
    height: 70%;
    width: 100%;
}

#bloghead {
    font-size: 13px;
    height: 25%;
    width: 100%;
    position: relative;
    top: 0%;
    border: 1px solid rgb(255, 145, 0);
    border-right: none;
    border-left: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    
}

#blogstats {
    list-style: none;

}

#blogstats li {
    margin: 3px;
}


#backbox4 {
    width: 47.5%;
    height: 380px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    left: 26.25%;
    top: 2305px;

}

#aboutsec {
    
    height: 700px;
    /* width: 65%; */
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    box-shadow: 5px 10px 30px 20px rgb(0,0,0, 0.8);
    /* background-color: rgb(60, 60, 61); */
    /* background-color: rgb(43, 42, 42); */
    background-color: #393E46;
    border-radius: 10px;
    padding-top: 1%;
    
}

footer {
    height: 200px;
    /* background-color: rgb(32, 32, 32); */
    background: #222831;
    display: flex;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 100px;
    position: relative;
    bottom: 0%;
    border-radius: 50% 50% 0% 0%;
    box-shadow: 0px -20px 20px rgb(0,0,0);
}

#contactdetails {
    padding-top: 40px;
    width: 50%;
    padding-right: 5%;
    border-right: solid rgb(255, 145, 0);
    height: 150px;
}

#socials {
    margin-left: 0%;
    padding-top: 38px;
    padding-left: 5%;
    height: 150px;
}


/* BEGINNING OF BLOG STYLLING */

#blogbody {
    background: rgb(79, 79, 82);
}

#sidenav {
    position: fixed;
    left: 0%;
    height: 95%;
    width: 19%;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 5px 10px 10px  rgb(0,0,0,0.8);
}

#blogmain {
    width: 60%;
}

#topicstable {
    border-radius: 10px;
    width: 100%;
    background-color: rgb(32, 32, 32);
}

tr {
    margin: 5px;

}

#postcontainer {
    border-radius: 10px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    padding: 2%;
    box-shadow: 0px 5px 10px 10px  rgb(0,0,0,0.8);
}

#posthead {
    width: 100%;
}

#post_tags {
    margin-left: 5%;
}

#post_tags button {
    margin: 2px;
}

#shareoptions {
    margin-left: 20%;
}


/* BEGINNING OF ADMIN STYLLING */

#adminsidenav {

    position: fixed;
    left: 0%;
    height: 95%;
    width: 17%;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 5px 10px 10px  rgb(0,0,0,0.8);

}

#adminmain {
    background-color: rgb(32, 32, 32);
    width: 100%;
    margin-left: 6%;
    padding: 2%;
}

#websitenavlist {
    
    padding-left: 2%;
    list-style: none;

}

.asidenavlist {
    margin-bottom: 5%;
    
}

.asidenavlist a {
    color: rgb(243, 243, 243);
} 

.asidenavlist:hover a:hover {
    padding-left: 5%;
    transition: .1s;

    text-decoration: none;
    background-color: none;
    transition: 0.5s;
    color: rgb(255, 145, 0);
    font-size: 20px;
    
}


#blognavlist {

    padding-left: 2%;
    list-style: none;
    
}

#siteintroform {
    width: 80%;
    margin: 0 auto;
}

#siteintroform .btn{
    background-color: rgb(79, 79, 82);
    color: rgb(255, 145, 0);
}

#siteintroform .btn:hover{
    transition: .1s;
    font-size: 16px;
    background-color: rgb(255, 145, 0);
    color: rgb(243, 243, 243);
}

#posts-container {
    margin-left: -1%;
    margin-right: -3%;
    padding-right: 0px;
    width: 100%;
}

#poststable .btn {
    height: 20px;
    width: 50px;
    font-size: 10px;
}

#poststable td {
    padding-left: 2px;
    border: 0.5px solid rgb(79, 79, 82);
}